<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>

    <div class="circle-container">
        <form action="/login" method="POST">
            <h2>Login</h2>
            <input type="text" name="username" placeholder="Brugernavn" required>
            <input type="password" name="password" placeholder="Kode" required>
            <button type="submit" class="btn btn-outline">Log ind</button>
        </form>
    </div>

</body>
</html>
